* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

ul,
input,
button {
    border: none;
}
li {
    list-style: none;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    display: flex;
}

// 修改组件中样式，不能加scoped
.login-ruleForm {
    .el-form-item__label {
        color: #f1f1f1;
    }
}

.el-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
